.LoginContainer {
  position: absolute;

  .LoginText {
    position: absolute;
    cursor: pointer;
    padding-left: 10px;
    line-height: 75px;
    font-size: 24px;
    color: #084C61;
    z-index: 1005;
  }

  .LoginFrame {
    position: absolute;
    width: calc(100vw);
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background: white;
    clip-path: circle(37.5px at 37.5px 37.5px);
    transition: clip-path .5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1004;

    .LoginForm{
      width: 100%;
      max-width: 460px;

      .LoginTitle{
        width: 100%;
        height: 70px;
        line-height: 70px;
        font-size: 50px;
        font-weight: 600;
        color: #084C61;
        text-align: center;
      }
    }
  }

  .LoginFrame.open {
    clip-path: circle(150% at 37.5px 37.5px);
  }

  .LoginFrame.closing {
    clip-path: circle(37.5px at 37.5px 37.5px);
  }
}