.PostCreator{
  position: fixed;
  z-index: 999;

  .OpenButton{
    outline: none;
    border: none;
    color: white;
    font-size: 70px;
    //font-weight: 600;
    position: absolute;
    margin-top: calc(100vh - 100px);
    margin-top: calc(var(--vh, 1vh) * 100 - 100px);
    margin-left: calc(100vw - 100px);
    margin-left: calc(100vw - var(--scroll) * 1 - 90px);
    width: 80px;
    height: 80px;
    border-radius: 80px;
    background: #084C61;
    cursor: pointer;
    z-index: 100;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    transition: transform .2s ease-in-out;
  }

  .OpenButton.open{
    transform: rotate(45deg);
  }

  .PostCreatorWrap{
    background: #084C61;
    transition: clip-path .5s ease-in-out;
    clip-path: circle(40px at calc(100vw - 60px) calc(100vh - 60px));
    clip-path: circle(40px at calc(100vw - var(--scroll, 1px) * 1 - 50px) calc(var(--vh, 1vh) * 100 - 60px));
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    position: relative;
    z-index: 99;
    overflow-y: auto;
    overflow-x: hidden;

    .PostCreatorContent{
      width: 100%;
      //background: red;
      margin-left: 0%;
      padding-top: 35vh;
      padding-top: calc(var(--vh, 1vh) * 35);
      transition: width .5s ease-in-out, height .5s ease-in-out, margin .5s ease-in-out;
      display: flex;
      //align-items: center;
      justify-content: center;
      flex-direction: column;
      z-index: 12323123;
      position: relative;

      .RegisterBtn{
        margin-left: 20px;
        margin-top: 20px;
        outline: none;
        border: 3px solid #084C61;
        box-sizing: border-box;
        color: #084C61;
        background: white;
        font-size: 25px;
        font-weight: 600;
        width: calc(100% - 35px);
        height: 70px;
        border-radius: 20px;
        float: left;
        cursor: pointer;
        margin-bottom: 20px;
      }

      .RegisterBtn:hover{
        background: #f1f1f1;
        //color: white;
      }

      .RegisterBtn:disabled{
        background: #999;
        cursor: default;
      }
    }
  }

  .PostCreatorWrap.open{
    clip-path: circle(200% at calc(100vw - 60px) calc(100vh - 60px));
    clip-path: circle(200% at calc(100vw - var(--scroll, 1px) * 1 - 50px) calc(var(--vh, 1vh) * 100 - 60px));
  }

  .PostCreatorWrap.closing{
    clip-path: circle(40px at calc(100vw - 60px) calc(100vh - 60px));
    clip-path: circle(40px at calc(100vw - var(--scroll, 1px) * 1 - 50px) calc(var(--vh, 1vh) * 100 - 60px));
  }
}

.PostCreator.open{
  z-index: 1004;
}

@media screen and (min-width: 1100px) {
  .PostCreator {
    .PostCreatorWrap {
      display: flex;
      //align-items: center;
      justify-content: center;
      .PostCreatorContent {
        width: 50%;
        margin-left: 50%;
        padding-top: 0;
      }
    }
  }
}